body {
    background-color: green;
}

.topBox {
    /* border: solid black; */
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
}

.leftBox {
    /* border: solid black; */
    width: 49.5%;
    height: 100px;
    text-align: center;
    font-size: small;

}

.rightBox {
    /* border: solid black; */
    width: 49%;
    height: 100px;
    text-align: center;
    font-size: small;

}

.gridContainer {
    /* border: solid black; */
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    /* border: solid black; */
    width: 306px;
    height: 306px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 100px;
    width: 100px;
    /* border: solid black 1px; */

}

.mole {
    background-image: url("mole.png");
    background-size: cover;
}
.button {
    border: solid black;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonBox {
    /* border: solid black; */
    display: flex;
    justify-content: center;
}
